@import "../../../styles/component.styl";

:host {
	display: flex;
	flex:1;
	border-right: 1px solid $grey-800;
	margin-right:12px;

	.product-attribute {
		border-left: 1px solid $grey-800;
		padding: 0 8px;
		width: 100%;

		.selected-value,
		.label {
			display: inline-block;
			margin-bottom: 12px;
			font-size: 1em;
			font-weight: bold;
			white-space: nowrap;
			text-transform: uppercase;
			margin-right: 6px;
			margin-bottom:6px;
		}

		.selected-value {
			color: $grey-700;
		}

		.product-options {
			display:flex;
			flex-flow:row wrap;
		}
	}
}
