<div class="product-attribute {{attribute.key}}" *ngFor="let attribute of getCustomizableAttributes() | keyvalue">
  <span class="label">
    {{attribute.value.label}}
  </span>
  <ul class="product-options">
    <display-product-option
      *ngFor="let option of attribute.value.availableOptions | keyvalue"
      [optionId]="option.key"
      [option]="option.value"
      [attributeId]="attribute.key"
      [attribute]="attribute.value"
      [isSelected]="isOptionSelected(attribute.key, option.key)"
      [isAvailable]="isOptionAvailable(attribute.key, option.key)"
      (select)="setOption($event.attributeId, $event.optionId)"
    ></display-product-option>
  </ul>
</div>
