:host {
	margin-right:6px;
	margin-bottom:6px;

	.action {
		width: 100%;
		height: 50px;
		padding:0 9px;

		&.visual {
			height: 50px;
			padding:0;
			min-width:85px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				left:0;
				top:0;
			}
		}
	}
}
