<button *ngIf="attribute && option" class="action select-option" (tap)="setOption()" [class.visual]="attribute.type === 'visual'"
    [class.selected]="isSelected" [attr.disabled]="isAvailable ? null : ''">
    <ng-container *ngIf="attribute.type === 'default'">
      <span>{{option.label}}</span>
    </ng-container>
    <ng-container *ngIf="attribute.type === 'visual'">
      <img src="{{getSwatchImage()}}">
    </ng-container>
</button>