@import "../../../styles/component.styl";

&:host {
	.scrollbar {
		width:6px
		height:100%;
		position: relative;

		.track {
			border-radius:3px;
			width:6px;
			height:100%;
			background:$grey-800;
			margin:0 auto;
			overflow:hidden;

			.status {
				width:100%;
				background:$grey-600;
			}
		}

		.thumb {
			position:absolute;
			width:6px;
			height:25px;
			background:$white;
			top:0;
		}
	}
}