@import "../../../styles/component.styl";


:host {
	.product {
		position:fixed;
		width:100%;
		max-width:$base__width;
		height:100vh;
		top:0;
		bottom:0;
		background:$base__background;
		z-index:50;
		padding:40px;
		overflow:hidden;

		display:flex;
		flex-flow:column;

		.product-selection {
			display:flex;
			width:100%;
			padding-bottom:25px;

			.back {
				margin-right:12px;

				.back-action {
					width:50px;
					height:75px;
					background-image:url('/assets/svg/general/submenu.svg');
					background-size:50px 50px;
					background-repeat:no-repeat;
					background-position: center bottom;
					text-align:center;
					opacity:.4;
					display:block;
					text-decoration: none;
					color:$white;
					text-transform:uppercase;
					font-weight:bold;
					transition: opacity 0.2s

					&:active {
						opacity:.8;
					}
				}
			}

			.add-to-cart-toolbar {
				align-self:end;

				.action.add-to-cart { 
					padding:25px 50px;	
				}
			}
		}

		.overlay-wrapper {
			position: fixed;
			top:0;
			width:$base__width;
			height:$base__height;
			background: alpha($base__background, 0.75);
			z-index:100;

			.overlay {
				width: 430px;
				min-height 490px;
				position absolute;
				left:50%;
				top:30%;
				transform:translate(-50%, -50%);
				background:$white url('/assets/smartphone.jpg'); 
				background-size:430px 490px;
				background-repeat: no-repeat;
				box-shadow:0 10px 30px 0 rgba(0,0,0,.3);

				.action-close {
					color:$grey-700;
					text-transform: uppercase;
					font-weight:bold;
					position: absolute;
					right:15px;
					top:11px;

					&:before {
						content:'x';
						margin-right:6px;
						color:$grey-500;
					}
				}

				img {
					position: absolute;
					left:50%;
					top:100px
					height:130px;
					width:130px;
					transform:translateX(-50%);
				}

				.qr-content {
					font-weight:bold;
					margin-top:490px;
					padding:40px;
					text-align:center;

					.qr-title {
						display:block;
						text-transform:uppercase;
						font-size:1.8em;
						color:$base__background;
						margin-bottom:15px;
					}	

					.qr-text {
						display:block;
						color:$grey-500;
						padding:0 25px;
					}
				}
			}
		}
	}
}