<div class="product" @productStateAnimation>
	<ng-container *ngIf="product">
		<div class="product-selection">
			<div class="back">
				<a class="back-action" routerLink="/">
					<span i18n="@@back">Back</span>
				</a>
			</div>
			<display-product-attributes 
				[product]="product" 
				(selection)="setConfigProduct($event)">
			</display-product-attributes>
			<div class="add-to-cart-toolbar">
				<button class="action primary add-to-cart" 
					[attr.disabled]="isAddToCartAvailable() ? null : ''"
					(click)="toggleOverlay()">
					<span i18n="@@order">Order</span>
				</button>
			</div> 
		</div>
		<display-product-media 
			*ngIf="configProduct" 
			[product]="configProduct">
		</display-product-media>
		<display-product-info 
			[configProduct]="configProduct" 
			[product]="product">
		</display-product-info>
		<display-product-overlay
			[parentProduct]="product"
			[product]="configProduct" 
			[state]="overlayState" 
			(stateChange)="toggleOverlay($event)">
		</display-product-overlay>
	</ng-container>
</div>
