body {
    display:block;
    position: relative;
    color:$base__color;
    background: $base__background;
    font-family:$base__font;
    font-size:$base__font-size;
    overflow-x:hidden;
    overflow-y:hidden;

    * {
        box-sizing: border-box;

        &:focus {
            outline:none;
        }
    }     

    display-root {
        display:block;
        position: fixed;
        top:0;
        left:0;
        bottom:0;
        right:0;
        overflow-x:hidden;
        overflow-y:hidden;
        max-width:$base__width;
        background:$base__background
    }
}