@font-face {
	font-family: 'Barlow';
	src: local('Barlow-Regular'), url(/assets/fonts/Barlow-Regular.ttf);
	font-weight:400;
	font-style:normal
}

@font-face {
	font-family: 'Barlow';
	src: local('Barlow-Bold'), url(/assets/fonts/Barlow-Bold.ttf);
	font-weight:700;
	font-style:normal
}

@font-face {
	font-family: 'Barlow';
	src: local('Barlow-Black'), url(/assets/fonts/Barlow-Black.ttf);
	font-weight:800;
	font-style:normal
}

@font-face {
	font-family: 'Barlow';
	src: local('Barlow-Light'), url(/assets/fonts/Barlow-Light.ttf);
	font-weight:300;
	font-style:normal
}

@font-face {
	font-family: 'Barlow';
	src: local('Barlow-ExtraLight'), url(/assets/fonts/Barlow-ExtraLight.ttf);
	font-weight:300;
	font-style:normal
}

@font-face {
	font-family: 'Barlow';
	src: local('Barlow-Italic'), url(/assets/fonts/Barlow-Italic.ttf);
	font-weight:400;
	font-style:italic;
}

@font-face {
	font-family: 'Barlow';
	src: local('Barlow-BoldItalic'), url(/assets/fonts/Barlow-BoldItalic.ttf);
	font-weight:700;
	font-style:italic;
}

@font-face {
	font-family: 'Barlow';
	src: local('Barlow-LightItalic'), url(/assets/fonts/Barlow-LightItalic.ttf);
	font-weight:300;
	font-style:italic;
}