:host {
	display:block;
	flex: 1 1;
	position: relative;

	img {
		position: absolute;
		margin:0 auto;
		max-width:100%;
		max-height:100%;
		width:auto;
		height:auto;
		box-shadow:0 0 210px -30px rgba(255,255,255, 0.20);
		transform:translateX(-50%);
		left:50%;
	}
}