// Containers
fluid() {
    clearfix()
    width:100%
    display:block
}

container() {
    clearfix()
    width:100%
    display:block
    max-width:$bp-xxl
    margin:0 auto

    +media-desktop-large() {
        max-width:$bp-xl
    }

    +media-desktop() {
        max-width: $bp-l
    }

    +media-tablet-large() {
        max-width: $bp-m
    }

    +media-tablet() {
        max-width: $bp-s
    }

    +media-mobile-large() {
        max-width: $bp-xs
    }
    
    +media-mobile() {
        max-width: 100%
    }
}

grid-spacing-reset($size = $grid-small, $only-horizontal = false) {
    if ($only-horizontal) {
        margin-left : -($size);
        margin-right : -($size)
    } else {
        margin : -($size)
    }
}

// Spacers
extend-extra-large() {
    padding: $grid * 3

    +media-tablet() {
        padding:$grid
    }
}

extend-large() {
    padding: $grid * 2

    +media-tablet() {
        padding:$grid
    }
}

extend() {
    padding: $grid
}

extend-small() {
    padding: $grid-small
}

extend-extra-small() {
    padding: $grid-extra-small
}

extend-x-extra-large() {
    padding-left: $grid * 2
    padding-right: $grid * 2

    +media-tablet() {
        padding-left: $grid
        padding-right: $grid
    }
}

extend-x-large() {
    padding-left: $grid * 2
    padding-right: $grid * 2

    +media-tablet() {
        padding-left: $grid
        padding-right: $grid
    }
}

extend-x() {
    padding-left: $grid
    padding-right: $grid
}

extend-x-small() {
    padding-left: $grid-small
    padding-right: $grid-small
}

extend-x-extra-small() {
    padding-left: $grid-extra-small
    padding-right: $grid-extra-small
}

extend-y-extra-large() {
    padding-top:$grid * 3
    padding-bottom:$grid * 3

    +media-tablet() {
        padding-top:$grid
        padding-bottom:$grid
    }
}

extend-y-large() {
    padding-top:$grid * 2
    padding-bottom:$grid * 2

    +media-tablet() {
        padding-top:$grid
        padding-bottom:$grid
    }
}

extend-y() {
    padding-top:$grid
    padding-bottom:$grid
}

extend-y-small() {
    padding-top:$grid-small
    padding-bottom:$grid-small
}

extend-y-extra-small() {
    padding-top:$grid-extra-small
    padding-bottom:$grid-extra-small
}

extend-top-extra-large() {
    padding-top:$grid * 3

    +media-tablet() {
        padding-top:$grid
    }
}
extend-top-large() {
    padding-top:$grid * 2

    +media-tablet() {
        padding-top:$grid
    }
}
extend-top() {
    padding-top:$grid 
}
extend-top-small() {
    padding-top:$grid-small
}
extend-top-extra-small() {
    padding-top:$grid-extra-small
}
extend-bottom-extra-large() {
    padding-bottom:$grid * 3

    +media-tablet() {
        padding-bottom:$grid
    }
}
extend-bottom-large() {
    padding-bottom:$grid * 2

    +media-tablet() {
        padding-bottom:$grid
    }
}
extend-bottom() {
    padding-bottom:$grid 
}
extend-bottom-small() {
    padding-bottom:$grid-small
}
extend-bottom-extra-small() {
    padding-bottom:$grid-extra-small
}


// Columns
col-preset() {
    float:left
    width:100%
}

col($value, $preset = true) {
    max-width: (100% / $grid-colums * $value)

    if ($preset) {
        col-preset()
    }
} 

col-xxl($value, $preset = true) {
    +media-desktop-large() {
        col($value, $preset)
    }
}

col-xl($value, $preset = true) {
    +media-desktop() {
        col($value, $preset)
    }
}

col-l($value, $preset = true) {
    +media-tablet-large() {
        col($value, $preset)
    }
}

col-m($value, $preset = true) {
    +media-tablet() {
        col($value, $preset)
    }
}

col-s($value, $preset = true) {
    +media-mobile-large() {
        col($value, $preset)
    }
}

col-xs($value, $preset = true) {
    +media-mobile() {
        col($value, $preset)
    }
}

col-xxs($value, $preset = true) {
    +media-small() {
        col($value, $preset)
    }
}

// Offset
offset($value) {
    $margin-value = 100% / $grid-colums * $value;

    if ($margin-value is 0%) {
        margin-left:(100% / $grid-colums * $value) !important
    }

    if ($margin-value is not 0%) {
        margin-left:(100% / $grid-colums * $value)
    }
} 

offset-xxl($value) {
    +media-desktop-large() {
        offset($value)
    }
}

offset-xl($value) {
    +media-desktop() {
        offset($value)
    }
}

offset-l($value) {
    +media-tablet-large() {
        offset($value)
    }
}

offset-m($value) {
    +media-tablet() {
        offset($value)
    }
}

offset-s($value) {
    +media-mobile-large() {
        offset($value)
    }
}

offset-xs($value) {
    +media-mobile() {
        offset($value)
    }
}

offset-xxs($value) {
    +media-small() {
        offset($value)
    }
}