icon-before($icon, $size = 24px, $include-margin = true) {
    &:before {
        content:$icon
        font-family: 'Material Icons'
        font-weight: normal;
        font-style: normal;
        font-size: $size
        display: inline-block
        line-height: 0
        letter-spacing: normal
        text-transform: none
        white-space: nowrap
        word-wrap: normal
        direction: ltr
        -webkit-font-feature-settings: 'liga';
        font-feature-settings: 'liga';
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        user-select:none

        if ($include-margin) {
            margin-right:$grid-extra-small
        }
    }
}

icon-after($icon, $size = 24px, $include-margin = true) {
    &:after {
        display: inline-block
        content:$icon
        display:inline-block
        font-family: 'Material Icons'
        font-weight: normal
        font-style: normal
        font-size: $size
        line-height: 0
        letter-spacing: normal
        text-transform: none
        -webkit-font-feature-settings: 'liga';
        font-feature-settings: 'liga';
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        user-select:none

        if ($include-margin) {
            margin-left:$grid-extra-small
        }
    }
}