scrollbar-y($overflow = auto) {
  overflow-y:$overflow;

  &::-webkit-scrollbar {
    width:4px;
    background:$base__background;
  }

  &::-webkit-scrollbar-track {
    background:$base__background;
  }

  &::-webkit-scrollbar-thumb {
    background:$grey-500;
    border-radius:2px;
  }
}

scrollbar-x($overflow = auto) {
  overflow-x:$overflow;

  &::-webkit-scrollbar {
    height:4px;
    background:$base__background;
  }

  &::-webkit-scrollbar-track {
    background:$base__background;
  }

  &::-webkit-scrollbar-thumb {
    background:$grey-500;
    border-radius:2px;
  }
}