:host {
	display:flex;
	position:relative;
	height:100%;
	width:100%;
	overflow:hidden;
	padding-left:12px;
	padding-top:25px;
	padding-right:6px;
	padding-bottom:25px;

	.grid-items {
		position:relative;
		width:100%;
		height:100%;
		transition:top 0s
	}

	.grid-scroll {
		width:6px;
		height:100%;
	}
}