<div class="grid-items"
  [style.transition]="transition ? transition : ''"
  [style.height.px]="height"
  [style.top.px]="offset"
  (pan)="pan($event)">
  <display-product-card 
    *ngFor="let product of products; index as i"
    [product]="product"
    [index]="i">
  </display-product-card>
</div>
<div class="grid-scroll">
  <display-scrollbar></display-scrollbar>
</div>