<div class="product" [class.initialized]="initialized" [style.width.%]="width" [style.left.%]="posX"
	[style.top.px]="posY" (tap)="tap($event)">
	<img src="{{baseUrl}}{{product.small_image}}" alt="{{product.name}}" (load)="initialize($event)">
	<display-product-badges [product]="product"></display-product-badges>
</div>