:host {
	.product {
		padding:0 12px;
		display:block;
		position: absolute;
		pointer-events: none;
		opacity:0;
		transform:translateY(30px);
		transition:opacity 0.5s, transform 0.5s, top 0.5s, left 0.5s;

		&.initialized {
			pointer-events: auto;
			transform:none;
			opacity:1;
		}

		img {
			display:block;
			max-width:100%;
			transition:opacity 0.1s, transform 0.1s;

			&:active {
				opacity:.7;
				transform:scale(.97);
			}
		}

		/deep/ {
			display-product-badges {
				position: absolute;
				top:6px;
				left:18px;
			}
		}
	}
}