$red-list = {
  'base': #f44336,
  '50':   #ffebee,
  '100':  #ffcdd2,
  '200':  #ef9a9a,
  '300':  #e57373,
  '400':  #ef5350,
  '500':  #f44336,
  '600':  #e53935,
  '700':  #d32f2f,
  '800':  #c62828,
  '900':  #b71c1c,
  'a100': #ff8a80,
  'a200': #ff5252,
  'a400': #ff1744,
  'a700': #d50000
}
$red =      $red-list[base]
$red-50  =  $red-list['50']
$red-100 =  $red-list['100']
$red-200 =  $red-list['200']
$red-300 =  $red-list['300']
$red-400 =  $red-list['400']
$red-500 =  $red-list['500']
$red-600 =  $red-list['600']
$red-700 =  $red-list['700']
$red-800 =  $red-list['800']
$red-900 =  $red-list['900']
$red-a100 = $red-list['a100']
$red-a200 = $red-list['a200']
$red-a400 = $red-list['a400']
$red-a700 = $red-list['a700']
$pink-list = {
  'base': #e91e63,
  '50':   #fce4ec,
  '100':  #f8bbd0,
  '200':  #f48fb1,
  '300':  #f06292,
  '400':  #ec407a,
  '500':  #e91e63,
  '600':  #d81b60,
  '700':  #c2185b,
  '800':  #ad1457,
  '900':  #880e4f,
  'a100': #ff80ab,
  'a200': #ff4081,
  'a400': #f50057,
  'a700': #c51162
}
$pink =      $pink-list[base]
$pink-50 =   $pink-list['50']
$pink-100 =  $pink-list['100']
$pink-200 =  $pink-list['200']
$pink-300 =  $pink-list['300']
$pink-400 =  $pink-list['400']
$pink-500 =  $pink-list['500']
$pink-600 =  $pink-list['600']
$pink-700 =  $pink-list['700']
$pink-800 =  $pink-list['800']
$pink-900 =  $pink-list['900']
$pink-a100 = $pink-list['a100']
$pink-a200 = $pink-list['a200']
$pink-a400 = $pink-list['a400']
$pink-a700 = $pink-list['a700']
$purple-list = {
  'base': #9c27b0,
  '50':   #f3e5f5,
  '100':  #e1bee7,
  '200':  #ce93d8,
  '300':  #ba68c8,
  '400':  #ab47bc,
  '500':  #9c27b0,
  '600':  #8e24aa,
  '700':  #7b1fa2,
  '800':  #6a1b9a,
  '900':  #4a148c,
  'a100': #ea80fc,
  'a200': #e040fb,
  'a400': #d500f9,
  'a700': #aa00ff
}
$purple =      $purple-list[base]
$purple-50 =   $purple-list['50']
$purple-100 =  $purple-list['100']
$purple-200 =  $purple-list['200']
$purple-300 =  $purple-list['300']
$purple-400 =  $purple-list['400']
$purple-500 =  $purple-list['500']
$purple-600 =  $purple-list['600']
$purple-700 =  $purple-list['700']
$purple-800 =  $purple-list['800']
$purple-900 =  $purple-list['900']
$purple-a100 = $purple-list['a100']
$purple-a200 = $purple-list['a200']
$purple-a400 = $purple-list['a400']
$purple-a700 = $purple-list['a700']
$deep-purple-list = {
  'base': #673ab7,
  '50':   #ede7f6,
  '100':  #d1c4e9,
  '200':  #b39ddb,
  '300':  #9575cd,
  '400':  #7e57c2,
  '500':  #673ab7,
  '600':  #5e35b1,
  '700':  #512da8,
  '800':  #4527a0,
  '900':  #311b92,
  'a100': #b388ff,
  'a200': #7c4dff,
  'a400': #651fff,
  'a700': #6200ea
}
$deep-purple =      $deep-purple-list[base]
$deep-purple-50 =   $deep-purple-list['50']
$deep-purple-100 =  $deep-purple-list['100']
$deep-purple-200 =  $deep-purple-list['200']
$deep-purple-300 =  $deep-purple-list['300']
$deep-purple-400 =  $deep-purple-list['400']
$deep-purple-500 =  $deep-purple-list['500']
$deep-purple-600 =  $deep-purple-list['600']
$deep-purple-700 =  $deep-purple-list['700']
$deep-purple-800 =  $deep-purple-list['800']
$deep-purple-900 =  $deep-purple-list['900']
$deep-purple-a100 = $deep-purple-list['a100']
$deep-purple-a200 = $deep-purple-list['a200']
$deep-purple-a400 = $deep-purple-list['a400']
$deep-purple-a700 = $deep-purple-list['a700']
$indigo-list = {
  'base': #3f51b5,
  '50':   #e8eaf6,
  '100':  #c5cae9,
  '200':  #9fa8da,
  '300':  #7986cb,
  '400':  #5c6bc0,
  '500':  #3f51b5,
  '600':  #3949ab,
  '700':  #303f9f,
  '800':  #283593,
  '900':  #1a237e,
  'a100': #8c9eff,
  'a200': #536dfe,
  'a400': #3d5afe,
  'a700': #304ffe
}
$indigo =      $indigo-list[base]
$indigo-50 =   $indigo-list['50']
$indigo-100 =  $indigo-list['100']
$indigo-200 =  $indigo-list['200']
$indigo-300 =  $indigo-list['300']
$indigo-400 =  $indigo-list['400']
$indigo-500 =  $indigo-list['500']
$indigo-600 =  $indigo-list['600']
$indigo-700 =  $indigo-list['700']
$indigo-800 =  $indigo-list['800']
$indigo-900 =  $indigo-list['900']
$indigo-a100 = $indigo-list['a100']
$indigo-a200 = $indigo-list['a200']
$indigo-a400 = $indigo-list['a400']
$indigo-a700 = $indigo-list['a700']
$blue-list = {
  'base': #2196f3,
  '50':   #e3f2fd,
  '100':  #bbdefb,
  '200':  #90caf9,
  '300':  #64b5f6,
  '400':  #42a5f5,
  '500':  #2196f3,
  '600':  #1e88e5,
  '700':  #1976d2,
  '800':  #1565c0,
  '900':  #0d47a1,
  'a100': #82b1ff,
  'a200': #448aff,
  'a400': #2979ff,
  'a700': #2962ff
}
$blue =      $blue-list[base]
$blue-50 =   $blue-list['50']
$blue-100 =  $blue-list['100']
$blue-200 =  $blue-list['200']
$blue-300 =  $blue-list['300']
$blue-400 =  $blue-list['400']
$blue-500 =  $blue-list['500']
$blue-600 =  $blue-list['600']
$blue-700 =  $blue-list['700']
$blue-800 =  $blue-list['800']
$blue-900 =  $blue-list['900']
$blue-a100 = $blue-list['a100']
$blue-a200 = $blue-list['a200']
$blue-a400 = $blue-list['a400']
$blue-a700 = $blue-list['a700']
$light-blue-list = {
  'base': #03a9f4,
  '50':   #e1f5fe,
  '100':  #b3e5fc,
  '200':  #81d4fa,
  '300':  #4fc3f7,
  '400':  #29b6f6,
  '500':  #03a9f4,
  '600':  #039be5,
  '700':  #0288d1,
  '800':  #0277bd,
  '900':  #01579b,
  'a100': #80d8ff,
  'a200': #40c4ff,
  'a400': #00b0ff,
  'a700': #0091ea
}
$light-blue =      $light-blue-list[base]
$light-blue-50 =   $light-blue-list['50']
$light-blue-100 =  $light-blue-list['100']
$light-blue-200 =  $light-blue-list['200']
$light-blue-300 =  $light-blue-list['300']
$light-blue-400 =  $light-blue-list['400']
$light-blue-500 =  $light-blue-list['500']
$light-blue-600 =  $light-blue-list['600']
$light-blue-700 =  $light-blue-list['700']
$light-blue-800 =  $light-blue-list['800']
$light-blue-900 =  $light-blue-list['900']
$light-blue-a100 = $light-blue-list['a100']
$light-blue-a200 = $light-blue-list['a200']
$light-blue-a400 = $light-blue-list['a400']
$light-blue-a700 = $light-blue-list['a700']
$cyan-list = {
  'base': #00bcd4,
  '50':   #e0f7fa,
  '100':  #b2ebf2,
  '200':  #80deea,
  '300':  #4dd0e1,
  '400':  #26c6da,
  '500':  #00bcd4,
  '600':  #00acc1,
  '700':  #0097a7,
  '800':  #00838f,
  '900':  #006064,
  'a100': #84ffff,
  'a200': #18ffff,
  'a400': #00e5ff,
  'a700': #00b8d4
}
$cyan =      $cyan-list[base]
$cyan-50 =   $cyan-list['50']
$cyan-100 =  $cyan-list['100']
$cyan-200 =  $cyan-list['200']
$cyan-300 =  $cyan-list['300']
$cyan-400 =  $cyan-list['400']
$cyan-500 =  $cyan-list['500']
$cyan-600 =  $cyan-list['600']
$cyan-700 =  $cyan-list['700']
$cyan-800 =  $cyan-list['800']
$cyan-900 =  $cyan-list['900']
$cyan-a100 = $cyan-list['a100']
$cyan-a200 = $cyan-list['a200']
$cyan-a400 = $cyan-list['a400']
$cyan-a700 = $cyan-list['a700']
$teal-list = {
  'base': #009688,
  '50':   #e0f2f1,
  '100':  #b2dfdb,
  '200':  #80cbc4,
  '300':  #4db6ac,
  '400':  #26a69a,
  '500':  #009688,
  '600':  #00897b,
  '700':  #00796b,
  '800':  #00695c,
  '900':  #004d40,
  'a100': #a7ffeb,
  'a200': #64ffda,
  'a400': #1de9b6,
  'a700': #00bfa5
}
$teal =      $teal-list[base]
$teal-50 =   $teal-list['50']
$teal-100 =  $teal-list['100']
$teal-200 =  $teal-list['200']
$teal-300 =  $teal-list['300']
$teal-400 =  $teal-list['400']
$teal-500 =  $teal-list['500']
$teal-600 =  $teal-list['600']
$teal-700 =  $teal-list['700']
$teal-800 =  $teal-list['800']
$teal-900 =  $teal-list['900']
$teal-a100 = $teal-list['a100']
$teal-a200 = $teal-list['a200']
$teal-a400 = $teal-list['a400']
$teal-a700 = $teal-list['a700']
$green-list = {
  'base': #4caf50,
  '50':   #e8f5e9,
  '100':  #c8e6c9,
  '200':  #a5d6a7,
  '300':  #81c784,
  '400':  #66bb6a,
  '500':  #4caf50,
  '600':  #43a047,
  '700':  #388e3c,
  '800':  #2e7d32,
  '900':  #1b5e20,
  'a100': #b9f6ca,
  'a200': #69f0ae,
  'a400': #00e676,
  'a700': #00c853
}
$green =      $green-list[base]
$green-50 =   $green-list['50']
$green-100 =  $green-list['100']
$green-200 =  $green-list['200']
$green-300 =  $green-list['300']
$green-400 =  $green-list['400']
$green-500 =  $green-list['500']
$green-600 =  $green-list['600']
$green-700 =  $green-list['700']
$green-800 =  $green-list['800']
$green-900 =  $green-list['900']
$green-a100 = $green-list['a100']
$green-a200 = $green-list['a200']
$green-a400 = $green-list['a400']
$green-a700 = $green-list['a700']
$light-green-list = {
  'base': #8bc34a,
  '50':   #f1f8e9,
  '100':  #dcedc8,
  '200':  #c5e1a5,
  '300':  #aed581,
  '400':  #9ccc65,
  '500':  #8bc34a,
  '600':  #7cb342,
  '700':  #689f38,
  '800':  #558b2f,
  '900':  #33691e,
  'a100': #ccff90,
  'a200': #b2ff59,
  'a400': #76ff03,
  'a700': #64dd17
}

$light-green =      $light-green-list[base]
$light-green-50 =   $light-green-list['50']
$light-green-100 =  $light-green-list['100']
$light-green-200 =  $light-green-list['200']
$light-green-300 =  $light-green-list['300']
$light-green-400 =  $light-green-list['400']
$light-green-500 =  $light-green-list['500']
$light-green-600 =  $light-green-list['600']
$light-green-700 =  $light-green-list['700']
$light-green-800 =  $light-green-list['800']
$light-green-900 =  $light-green-list['900']
$light-green-a100 = $light-green-list['a100']
$light-green-a200 = $light-green-list['a200']
$light-green-a400 = $light-green-list['a400']
$light-green-a700 = $light-green-list['a700']
$lime-list = {
  'base': #cddc39,
  '50':   #f9fbe7,
  '100':  #f0f4c3,
  '200':  #e6ee9c,
  '300':  #dce775,
  '400':  #d4e157,
  '500':  #cddc39,
  '600':  #c0ca33,
  '700':  #afb42b,
  '800':  #9e9d24,
  '900':  #827717,
  'a100': #f4ff81,
  'a200': #eeff41,
  'a400': #c6ff00,
  'a700': #aeea00
}
$lime =      $lime-list[base]
$lime-50 =   $lime-list['50']
$lime-100 =  $lime-list['100']
$lime-200 =  $lime-list['200']
$lime-300 =  $lime-list['300']
$lime-400 =  $lime-list['400']
$lime-500 =  $lime-list['500']
$lime-600 =  $lime-list['600']
$lime-700 =  $lime-list['700']
$lime-800 =  $lime-list['800']
$lime-900 =  $lime-list['900']
$lime-a100 = $lime-list['a100']
$lime-a200 = $lime-list['a200']
$lime-a400 = $lime-list['a400']
$lime-a700 = $lime-list['a700']
$yellow-list = {
  'base': #ffeb3b,
  '50':   #fffde7,
  '100':  #fff9c4,
  '200':  #fff59d,
  '300':  #fff176,
  '400':  #ffee58,
  '500':  #ffeb3b,
  '600':  #fdd835,
  '700':  #fbc02d,
  '800':  #f9a825,
  '900':  #f57f17,
  'a100': #ffff8d,
  'a200': #ffff00,
  'a400': #ffea00,
  'a700': #ffd600
}
$yellow =      $yellow-list[base]
$yellow-50 =   $yellow-list['50']
$yellow-100 =  $yellow-list['100']
$yellow-200 =  $yellow-list['200']
$yellow-300 =  $yellow-list['300']
$yellow-400 =  $yellow-list['400']
$yellow-500 =  $yellow-list['500']
$yellow-600 =  $yellow-list['600']
$yellow-700 =  $yellow-list['700']
$yellow-800 =  $yellow-list['800']
$yellow-900 =  $yellow-list['900']
$yellow-a100 = $yellow-list['a100']
$yellow-a200 = $yellow-list['a200']
$yellow-a400 = $yellow-list['a400']
$yellow-a700 = $yellow-list['a700']
$amber-list = {
  'base': #ffc107,
  '50':   #fff8e1,
  '100':  #ffecb3,
  '200':  #ffe082,
  '300':  #ffd54f,
  '400':  #ffca28,
  '500':  #ffc107,
  '600':  #ffb300,
  '700':  #ffa000,
  '800':  #ff8f00,
  '900':  #ff6f00,
  'a100': #ffe57f,
  'a200': #ffd740,
  'a400': #ffc400,
  'a700': #ffab00
}
$amber =      $amber-list[base]
$amber-50 =   $amber-list['50']
$amber-100 =  $amber-list['100']
$amber-200 =  $amber-list['200']
$amber-300 =  $amber-list['300']
$amber-400 =  $amber-list['400']
$amber-500 =  $amber-list['500']
$amber-600 =  $amber-list['600']
$amber-700 =  $amber-list['700']
$amber-800 =  $amber-list['800']
$amber-900 =  $amber-list['900']
$amber-a100 = $amber-list['a100']
$amber-a200 = $amber-list['a200']
$amber-a400 = $amber-list['a400']
$amber-a700 = $amber-list['a700']
$orange-list = {
  'base': #ff9800,
  '50':   #fff3e0,
  '100':  #ffe0b2,
  '200':  #ffcc80,
  '300':  #ffb74d,
  '400':  #ffa726,
  '500':  #ff9800,
  '600':  #fb8c00,
  '700':  #f57c00,
  '800':  #ef6c00,
  '900':  #e65100,
  'a100': #ffd180,
  'a200': #ffab40,
  'a400': #ff9100,
  'a700': #ff6d00
}
$orange =      $orange-list[base]
$orange-50 =   $orange-list['50']
$orange-100 =  $orange-list['100']
$orange-200 =  $orange-list['200']
$orange-300 =  $orange-list['300']
$orange-400 =  $orange-list['400']
$orange-500 =  $orange-list['500']
$orange-600 =  $orange-list['600']
$orange-700 =  $orange-list['700']
$orange-800 =  $orange-list['800']
$orange-900 =  $orange-list['900']
$orange-a100 = $orange-list['a100']
$orange-a200 = $orange-list['a200']
$orange-a400 = $orange-list['a400']
$orange-a700 = $orange-list['a700']
$deep-orange-list = {
  'base': #ff5722,
  '50':   #fbe9e7,
  '100':  #ffccbc,
  '200':  #ffab91,
  '300':  #ff8a65,
  '400':  #ff7043,
  '500':  #ff5722,
  '600':  #f4511e,
  '700':  #e64a19,
  '800':  #d84315,
  '900':  #bf360c,
  'a100': #ff9e80,
  'a200': #ff6e40,
  'a400': #ff3d00,
  'a700': #dd2c00
}
$deep-orange =      $deep-orange-list[base]
$deep-orange-50 =   $deep-orange-list['50']
$deep-orange-100 =  $deep-orange-list['100']
$deep-orange-200 =  $deep-orange-list['200']
$deep-orange-300 =  $deep-orange-list['300']
$deep-orange-400 =  $deep-orange-list['400']
$deep-orange-500 =  $deep-orange-list['500']
$deep-orange-600 =  $deep-orange-list['600']
$deep-orange-700 =  $deep-orange-list['700']
$deep-orange-800 =  $deep-orange-list['800']
$deep-orange-900 =  $deep-orange-list['900']
$deep-orange-a100 = $deep-orange-list['a100']
$deep-orange-a200 = $deep-orange-list['a200']
$deep-orange-a400 = $deep-orange-list['a400']
$deep-orange-a700 = $deep-orange-list['a700']
$brown-list = {
  'base': #795548,
  '50':   #efebe9,
  '100':  #d7ccc8,
  '200':  #bcaaa4,
  '300':  #a1887f,
  '400':  #8d6e63,
  '500':  #795548,
  '600':  #6d4c41,
  '700':  #5d4037,
  '800':  #4e342e,
  '900':  #3e2723,
}
$brown =     $brown-list[base]
$brown-50 =  $brown-list['50']
$brown-100 = $brown-list['100']
$brown-200 = $brown-list['200']
$brown-300 = $brown-list['300']
$brown-400 = $brown-list['400']
$brown-500 = $brown-list['500']
$brown-600 = $brown-list['600']
$brown-700 = $brown-list['700']
$brown-800 = $brown-list['800']
$brown-900 = $brown-list['900']
$grey-list = {
  'base': #9e9e9e,
  '50':   #fafafa,
  '100':  #f5f5f5,
  '200':  #eeeeee,
  '300':  #e0e0e0,
  '400':  #bdbdbd,
  '500':  #9e9e9e,
  '600':  #757575,
  '700':  #616161,
  '800':  #424242,
  '900':  #212121,
}
$grey =     $grey-list[base]
$grey-50 =  $grey-list['50']
$grey-100 = $grey-list['100']
$grey-200 = $grey-list['200']
$grey-300 = $grey-list['300']
$grey-400 = $grey-list['400']
$grey-500 = $grey-list['500']
$grey-600 = $grey-list['600']
$grey-700 = $grey-list['700']
$grey-800 = $grey-list['800']
$grey-900 = $grey-list['900']
$blue-grey-list = {
  'base': #607d8b,
  '50':   #eceff1,
  '100':  #cfd8dc,
  '200':  #b0bec5,
  '300':  #90a4ae,
  '400':  #78909c,
  '500':  #607d8b,
  '600':  #546e7a,
  '700':  #455a64,
  '800':  #37474f,
  '900':  #263238,
}
$blue-grey =     $blue-grey-list[base]
$blue-grey-50 =  $blue-grey-list['50']
$blue-grey-100 = $blue-grey-list['100']
$blue-grey-200 = $blue-grey-list['200']
$blue-grey-300 = $blue-grey-list['300']
$blue-grey-400 = $blue-grey-list['400']
$blue-grey-500 = $blue-grey-list['500']
$blue-grey-600 = $blue-grey-list['600']
$blue-grey-700 = $blue-grey-list['700']
$blue-grey-800 = $blue-grey-list['800']
$blue-grey-900 = $blue-grey-list['900']
$black-list = {
  'base': #000
}
$black = $black-list[base]
$white-list = {
  'base': #fff
}
$white = $white-list[base]
$list-all = {
  'red':         $red-list,
  'pink':        $pink-list,
  'purple':      $purple-list,
  'deep-purple': $deep-purple-list,
  'indigo':      $indigo-list,
  'blue':        $blue-list,
  'light-blue':  $light-blue-list,
  'cyan':        $cyan-list,
  'teal':        $teal-list,
  'green':       $green-list,
  'light-green': $light-green-list,
  'lime':        $lime-list,
  'yellow':      $yellow-list,
  'amber':       $amber-list,
  'orange':      $orange-list,
  'deep-orange': $deep-orange-list,
  'brown':       $brown-list,
  'grey':        $grey-list,
  'blue-grey':   $blue-grey-list,
  'black':       $black-list,
  'white':       $white-list
}