@import "../../../styles/component.styl";

:host {
	display:flex;
	flex-flow: row;

	.badge {
		padding:4px 8px 5px 8px;
		background:black;
		opacity:.75;
		margin-right:5px;
		margin-bottom:5px;
		border-radius 4px
		font-size:12px;
		font-weight:bold;
		text-transform: uppercase;

		&.new {
			background: $blue-500;
		}
	}
}
