<ng-container *ngIf="product && product.badges && product.badges.length">
	<ng-container *ngFor="let badge of product.badges">
		<div class="badge {{badge.class}}">
			<span>{{badge.label}}</span>
		</div>
	</ng-container>
</ng-container>
