@import "../../../styles/component.styl";

@keyframes touchAnimation {
	0% {
		transform:scale(0);
		opacity:1;
	}
	100% {
		transform:scale(1);
		opacity:0;
	}
}

:host {
	.instuctions-overlay {
		display:block;
		position: fixed;
		top:0;
		left:0;
		height:100vh;
		width:100%;
		opacity:.85;
		background: linear-gradient(
			to bottom, 
			alpha($base__background, 1) 0%,
			alpha($base__background, 0) 100%
		);


		.touch {
			position: absolute;
			top:120px;
			left:50%;
			transform:translateX(-50%);
		}

		.title {
			display:flex;
			position:relative;
			margin-bottom:30px;
			padding-bottom:30px;

			img {
				width:100px;
				height:120px;
				margin-right:20px;
			}

			span {
				font-size:3em;
				text-transform:uppercase;
				font-weight:bold;
			}

			&:after {
				content:'';
				display:block;
				position: absolute;
				bottom:0;
				height:1px;
				width:100%;
				background:white;	
			}
		}

		.instructions {
			ol {
				font-size:1.8em;
				font-weight:bold;

				li {
					display:list-item;
					list-style:decimal;
					margin-left:20px;
					margin-bottom:20px
				}
			}
		}

		.circle {
			height:210px;
			width:210px;
			margin:20px auto;

			&:before {
				content:'';
				position: absolute;
				display:block;
				height:210px;
				width:210px;
				border-radius:105px;
				background:white;
				animation:touchAnimation 2s;
				animation-iteration-count: infinite;
				animation-fill-mode: backwards;
			}

			&:after {
				content:'';
				position: absolute;
				display:block;
				height:210px;
				width:210px;
				border-radius:105px;
				background:white;
				animation:touchAnimation 2s;
				animation-iteration-count: infinite;
				animation-fill-mode: backwards;
				animation-delay:.35s;
			}
		}
	}
}