<div class="instuctions-overlay" (tap)="continue()" [@stateSwitchAnimation]="state">
    <div class="touch">
        <div class="instructions">
            <div class="circle"></div>
            <div class="title">
                <img src="/assets/tap.svg" alt="">
                <span i18n="@@orderNowYourWalldecoration">Order now your walldecoration</span>
            </div>
            <ol>
                <li i18n="@@select">Select</li>
                <li i18n="@@OrderViaPhoneOrRegister">Order via phone or at the register with an order card</li>
                <li i18n="@@pay">Pay</li>
                <li i18n="@@freeDelivery">Free delivery to your home</li>
            </ol>
        </div>
    </div>
</div>