button,
.button {
    display:block;
    margin:0;
    background:none;
    border:none;
    padding:18px;
    font-weight:bold;
    text-transform:uppercase;
    font-size:.85em;
    letter-spacing:.02em
    overflow:hidden;
    position:relative;
    transition:background 0.2s, color 0.2s, transform 0.2s;
    border-radius:3px;
    color:$white;
    background:$grey-800;
    white-space:nowrap;

    &:before {
        content:"";
        position: absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
        transition: background 0.2s;
        z-index:1;
    }

    &.selected {
        &:before {
            background:alpha($white, 0.2);
        }
    }

    &:disabled,
    &.disabled {
        pointer-events:none;

        &:before {
            background:alpha($base__background, 0.8);
        }
    }

    &.primary {
        background:$white;
        color:$base__background;

        &:disabled,
        &.disabled { 
            color:white;
            background:$grey-800;
        }
    }

    &:active {
        transform:scale(.97);
    }
}
