@import "../../../styles/component.styl";

:host {
	display:block;
	position: relative;
	margin-top:auto;
	padding-top:25px;

	.name {
		display: block;
		font-size:1.5em;
		border-bottom: 1px solid $grey-800;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}

	.price {
		position: absolute;
		top:25px;
		right:0;
		font-size:2em;
		margin-top:-10px;

		.price-label {
			color:#999;
			font-size:.5em;
			margin-right:15px
		}
	}

	.attributes {
		ul {
			li {
				font-size: 1.15em;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: .02em;
				line-height: 1.8;

				.option-value {
					margin-left: 8px;
					color: $grey-700;
				}
			}
		}
	}
}