<ng-container *ngIf="product && configProduct">
  <display-product-badges [product]="product"></display-product-badges>
  <h1 class="name">
    {{product.name}}
  </h1>
  <div class="price">
    <span class="price-label" i18n="@@inclshipping">incl. shipping</span>
    <span class="price-inner" [innerHTML]="configProduct.price_formatted"></span>
  </div>
  <div class="attributes">
    <ul>
      <li *ngFor="let attribute of getCustomizableAttributes() | keyvalue">
        <span class="attribute-label">
          {{attribute.value.label}}
        </span>
        <span class="option-value">
          {{getOptionLabelByConfigProduct(configProduct, attribute.key)}}
        </span>
      </li>
      <li *ngFor="let attribute of getFixedAttributes() | keyvalue">
        <span class="attribute-label">
          {{attribute.value.label}}
        </span>
        <span class="option-value" *ngFor="let option of attribute.value.availableOptions | keyvalue">
          {{option.value.label}}
        </span>
      </li>
      <li>
        <span class="attribute-label">Sku</span>
        <span class="option-value">{{configProduct.sku}}</span>
      </li>
    </ul>
  </div>
</ng-container>
