<div #overlay class="product-overlay" *ngIf="product && parentProduct && state === 'active'" (tap)="close($event, overlay)">
  <div class="close" (tap)="close()">
    X
    <span i18n="@@close">Close</span>
  </div>
  <div class="modal select" *ngIf="mode === 'select'">
    <div class="title">
      <span i18n="@@orderVia">Order via</span>
    </div>
    <div class="modes">
      <div class="mode card" *ngIf="useProductCard">
        <span i18n="@@Ordercard">Ordercard</span>
        <img src="/assets/svg/general/contract.svg"/>
        <button class="action" (tap)="setModeCard()" i18n="@@select"> 
          Select
        </button>
      </div>
      <div class="mode qr-code">
        <span i18n="@@phone">Phone</span>
        <img src="/assets/svg/general/qr-code.svg"/>
        <button class="action" (tap)="setModeQrCode()" i18n="@@select">
          Select
        </button>
      </div>
    </div>
  </div>
  <div class="modal card" *ngIf="useProductCard && mode === 'card'">
    <div class="title">
        <span i18n="@@Ordercard">Ordercard</span>
    </div>
    <div class="description">
      <span i18n="@@orderCardDescription">
          Fill in the order card and go to the cash register
      </span>
    </div>
    <div class="fields">
      <ng-container *ngFor="let fieldGroup of fieldGroups">
        <ng-container *ngFor="let attributeCode of fieldGroup.attributes">
          <ng-container *ngIf="getAttributeIdByCode(attributeCode)">
            <div class="field-group">
              <ng-container *ngFor="let option of getAttributeByCode(attributeCode).options | keyvalue">
                <div class="field">
                    <input type="radio" [name]="attributeCode" [id]="attributeCode + '-' + option.key" [checked]="isChecked(attributeCode, option.key)"/>
                    <label [for]="attributeCode + '-' + option.key">{{option.value}}</label>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
      <div class="field-group sku">
        <div class="field">
            <label>Sku:</label>
            <span class="value">{{product.sku}}</span>
        </div>
      </div>
    </div>
    <button class="action" (tap)="setModeSelect()" i18n="@@back">
      Back
    </button>
  </div>
  <div class="modal qr-code" *ngIf="mode === 'qr-code'">
    <img src="{{baseUrl}}{{product.qr_code}}">
    <div class="qr-content">
      <span class="qr-title" i18n="@@qrCodeTitle">
        Scan this code with your smartphone to order the image
      </span>
      <span class="qr-text" i18n="@@qrCodeContent">
        Open the camera on your smartphone, align it with the QR code and visit the url which shows up
      </span>
      <button class="action" (tap)="setModeSelect()" i18n="@@back">
        Back
      </button>
    </div>
  </div>
</div>