@import "../../../styles/component.styl";

:host {
	.product-overlay {
		position: fixed;
		top:0;
		left:0;
		width: $base__width;
		height: $base__height;
		background: alpha($base__background, 0.75);
		z-index: 100;

		.close {
			position: absolute;
			width:430px;
			left:50%;
			text-align:right;
			transform:translateX(-50%);
			top:8%;
			text-transform:uppercase;
			font-weight:bold;
			font-size:1.2em;
		}
	
		.modal {
			position: absolute;
			width:430px
			min-height:490px;
			left:50%;
			top:10%;
			padding:30px;
			transform:translateX(-50%);
			background:$white;
			background-size: 430px 490px;
			color: $base__background;
			box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .3);

			.description {
				font-size:1.3em;
				font-weight:bold;
				text-transform:uppercase;
				text-align:center;
				margin-bottom:30px;
				color:$grey-600;
			}
			
			.title {
				font-size:2em;
				font-weight:bold;
				text-transform:uppercase;
				text-align:center;
				margin-bottom:30px;
			}
			
			.action {
				margin:15px auto 0 auto
			}			
			
			&.select {
				.title {
					padding-bottom:30px;
					border-bottom:1px solid $base__background;
				}

				.modes {
					display:flex;

					.mode {
						width:50%;
					
						span {
							display:block;
							font-size:1.4em;
							font-weight:bold;
							text-transform:uppercase;
							margin:0 auto 30px auto;
							text-align:center;
						}

						img {
							max-width:120px;
							margin:0 auto 30px auto;
						}	
					}
				}
			}

			&.card {
				.fields {
					input[type="radio"] {
						display:none;

						+ label {
							position: relative;
							pointer-events: none;
							text-transform:uppercase;
							font-weight:bold;
							
							&:before {
								content:'';
								display:inline-block;
								width:20px;
								height:20px;
								background:#ddd;
								margin-right:5px;
								border-radius:10px;
								transform:translateY(2px);
							}
						}

						&:checked {
							+ label {
								&:after {
									content:'';
									display:inline-block;
									position: absolute;
									height:12px;
									width:12px;
									border-radius:6px;
									background:$base__background;
									left:4px;
									top:2px;
								}
							}
						}
					}


					.field-group {
						padding:15px 0;
						border-bottom:1px solid $base__background;
						text-align:center;

						&:nth-last-child(1) {
							border:none;
						}

						.field {
							display:inline-block
							margin-bottom:10px;
							margin-right:10px;
						}

						&.sku {
							.field {
								width:100%;

								label {
									text-transform:uppercase;
									font-weight:bold;
								}

								.value {
									display:block
									width:100%;
								}
							}
						}
					}
				}
			}

			&.qr-code {
				background: $white url('/assets/smartphone.jpg');
				background-repeat: no-repeat;

				img {
					position: absolute;
					left: 50%;
					top: 100px;
					height:130px;
					width: 130px;
					transform: translateX(-50%);
				}

				.qr-content {
					font-weight: bold;
					margin-top: 490px;
					text-align: center;

					.qr-title {
						display: block;
						text-transform: uppercase;
						font-size: 1.8em;
						margin-bottom: 15px;
					}

					.qr-text {
						display: block;
						color: $grey-500;
						padding: 0 25px;
					}
				}
			}
		}
	}
}